#example1 {
  opacity: 0.3;
  border: 50px;
  padding:5%;
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

#exampleiphone1 {
  opacity: 0.3;
  border: 50px;
  padding:5%;
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

#exampleiphone3 {
  width: 100%;
  height: 44vh;
}

#exampleiphone4 {
  width: 100%;
  height: 70vh;
  font-size: 24px;
}

#exampleiphone7 {
  width: 100%;
  height: 124vh;
}

#example2 {
  opacity: 0.3;
  border: 50px;
  padding:2.5%;
  border-radius: 50px;
}

#example3 {
  width: 100%;
  height: 40vh;
}

#example7 {
  width: 100%;
  height: 87vh;
}

#example8 {
  font-size: 24px;
}

#example9 {
  font-size: 20px;
}

#example10 {
  font-size: 24px;
}

#example4 {
  width: 100%;
  height: 56vh;
  font-size: 24px;
}

#example5 {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
#example6 {
  height: 80vh;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

#group{
  text-align: center;
  background-color: #343a40;
  width: 100%;
  height: 100%;
  font-size: 30px;
  overflow: auto;
  position: fixed;
}


#marks { 
  background: -webkit-linear-gradient(#000, #0F0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#border{
  border: 10px solid;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

